.comment.clearfix
	.content
		.content-image
			= image_tag(comment.user.avatar.url(:thumb))
		.content-comment
			%p.comment_content= comment.comment
			%p.comment_author= comment.user.name
			Published at 
			= time_ago_in_words(comment.created_at)

	.buttons-small
		- if current_user and comment.user_id == current_user.id
			= link_to "Edit", edit_post_comment_path(comment.post, comment), class: "button-small"
			= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "button-small"

		= link_to "#{comment.get_upvotes.size} like", like_post_comment_path(comment.post, comment), method: :put, class: "button-small"
		= link_to "#{comment.get_downvotes.size} deslike", dislike_post_comment_path(comment.post, comment), method: :put, class: "button-small"