#log
  %h2 Edit 
  = resource_name.to_s.humanize

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!

    = f.label :avatar
    = f.file_field :avatar

    = f.label :name
    = f.text_field :name, autofocus: true

    = f.label :email
    = f.email_field :email

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      Currently waiting confirmation for: = resource.unconfirmed_email

    = f.label :password
    %i ( leave blank if you don't want to change it )
    = f.password_field :password, autocomplete: "off"

    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off"

    = f.label :current_password
    %i ( we need your current password to confirm your changes )
    = f.password_field :current_password, autocomplete: "off"

    = f.label :date_of_birth
    = f.date_select :date_of_birth

    = f.submit "Update"
    = link_to "Back", :back
